.fondoHeader {

    color: #512DA8;
    
}

.textos{

    color: #673AB7;
}

.casillas{

    border-style: solid;
    border-color: #757575;    
    border-radius: 8px; 
    margin-left: -0.25rem;

}


.top-20{

    margin-top: 20px;
    margin-left: 4.5rem;
}

.margenesInicio {

    margin-top: 0.3rem;
}

.tamañoTitulo{

    font-size: 200%;
    margin-left: -3.75rem;
    text-align: center;

}

.tituloPrincipal {

    font-size: 200%;
    margin-left: 0.25rem;

}